{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container pt-3">
  <h3 align="center">Buddyship Program</h3>
  <div class="container p-3 bg-light">
    <p><b>Buddyship: </b>{{ user.first_name }} and {{ user.current_buddy }}<br/>
      <b>Your buddy's goal: </b>{{ buddy_account.current_goal }}</p>
  </div>
</div>

<div class="container pt-3">
  <h4 class="p-2 bg-secondary text-white">Record your buddy's progress: </h4>
  <p class="text-muted">
    - During the meeting, what role(s) is your buddy playing? What score do you want to give him/her? <br/>
    - Any comments according to achieving his/her goal?
  </p>
<form method="POST">
  <div class="form-group">
    <label for="role">Your buddy's role</label>
    <select
      class="form-control"
      id="roleSelect"
      name="roleSelect"
    >
      <option disabled selected>Choose...</option>
      <option>{{ roleOptions[0] }}</option>
      <option>{{ roleOptions[1] }}</option>
      <option disabled>---------------------</option>
      {% for i in range(2, 11) %}
      <option>{{ roleOptions[i] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="score">Your buddy's score</label>
    <select
      class="form-control"
      id="scoreSelect"
      name="scoreSelect"
      placeholder="Select a score"
    >
      <option disabled selected>Choose...</option>
      <option>5-Exemplary</option>
      <option>4-Excel</option>
      <option>3-Accomplished</option>
      <option>2-Emerging</option>
      <option>1-Developing</option>
    </select>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <input
      type="text"
      class="form-control"
      id="comment"
      name="comment"
      placeholder="Enter comment"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}
