{% extends "base.html" %} {% block title %}Change Your Info{% endblock %} {% block content
%}
<div class="container pt-3">
  <h3 align="center">Change Your Info</h3>
</div>
<br/>
<form method="POST">
  <div class="form-group">
    <label for="buddyName">Another round of buddyship? Change your current buddy:</label>
    <input
      class="form-control"
      type="text"
      id="buddyName"
      name="buddyName"
      value="{{ user.current_buddy }}"
    />
  </div>
  <div class="form-group">
    <input type="submit" name="btn" class="btn btn-primary" value="Buddy Updated">
    <span></span>
    <input type="submit" name="btn" class="btn btn-default" value="Cancel">
  </div>

  <br/>
  <div class="form-group">
    <label for="goalSelect">Goal accomplished? Select another general goal:</label>
    <select
      class="form-control"
      id="goalSelect"
      name="goalSelect"
    >
    {% for i in range(7) %}
      {% if goalOptions[i] == user.current_goal.split(' - ')[0] %}
      <option disabled selected>{{ goalOptions[i] }}</option>
      {% else %}
      <option>{{ goalOptions[i] }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="goalElaborate">Update your specific goal here:</label>
    <input
      class="form-control"
      type="text"
      name="goalElaborate"
      value="{{ user.current_goal.split(' - ')[1] }}"
    />
  </div>
  <div class="form-group">
    <label for="reward">A change of mind? Update your current reward:</label>
    <input
      class="form-control"
      type="text"
      id="reward"
      name="reward"
      value="{{ user.current_reward }}"
    />
  </div>

  <div class="form-group">
    <input type="submit" name="btn" class="btn btn-primary" value="Goal Updated">
    <span></span>
    <input type="submit" name="btn" class="btn btn-default" value="Cancel">
  </div>
</form>

{% endblock %}
