{% extends "base.html" %} {% block title %}Set Things Up{% endblock %} {% block
content %}

<form method="POST">
  <h3 align="center">Set Things Up</h3>
  <div class="form-group">
    <label for="buddyName">Buddy</label>
    <input
      type="text"
      class="form-control"
      id="buddyName"
      name="buddyName"
      placeholder="Enter buddy's name"
    />
  </div>
  <div class="form-group">
    <label for="goalSelect">Goal</label>
    <select
      class="form-control"
      id="goalSelect"
      name="goalSelect"
    >
      <option selected>Choose...</option>
      {% for i in range(7) %}
      <option>{{ goalOptions[i] }}</option>
      {% endfor %}
    </select>
    <br/>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="otherGoal"
        placeholder="Enter your goal here if you select 'Others'">
    </div>
  </div>
  <div class="form-group">
    <label for="reward">Reward</label>
    <input
      type="text"
      class="form-control"
      id="reward"
      name="reward"
      placeholder="Enter reward"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
