{% extends "base.html" %} {% block title %}Set Things Up{% endblock %} {% block
content %}

<form method="POST">
  <h3 align="center">Set Things Up</h3>
  <div class="form-group">
    <label for="buddyName">Your buddy's first name</label>
    <input
      type="text"
      class="form-control"
      id="buddyName"
      name="buddyName"
      placeholder="Enter buddy's name"
    />
  </div>
  <div class="form-group">
    <label for="goalSelect">Select a general direction that you want to work on</label>
    <select
      class="form-control"
      id="goalSelect"
      name="goalSelect"
    >
      <option disabled selected>Choose...</option>
      {% for i in range(7) %}
      <option>{{ goalOptions[i] }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="goalElaborate">Articulate your specific goal here</label>
    <input
      class="form-control"
      type="text"
      name="goalElaborate"
      placeholder="Elaborate more about your goal">
  </div>
  <div class="form-group">
    <label for="reward">The reward you get when your goal is accomplished</label>
    <input
      type="text"
      class="form-control"
      id="reward"
      name="reward"
      placeholder="Enter a compelling reward"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
